<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.imgur.com/11H3F3m.jpg);">
  <div class="container">
    <h1>Suculenta</h1>
    <p></p>
    <p>Gastronomia nutritiva e funcional</p>
  </div>
</div>

<h2>Fazendo seu dia mais saudável e gostoso </h2>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.imgur.com/ieiAxxK.jpg)">
  <p>Sobre nós<p>
</div>