<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.imgur.com/11H3F3m.jpg);">
  <div class="container">
    <h1>Suculenta</h1>
    <p></p>
    <p>Gastronomia nutritiva e funcional</p>
  </div>
</div>

<h2> Comidinhas veganas feitas com muito amor</h2>

<div class="flex-container">
  <%= link_to about_path do %>
  <div class="card-category-a" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.imgur.com/ieiAxxK.jpg)">
    <p>A Suculenta<p>
    <% end %>
  </div>

  <div class="flex-item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.imgur.com/gWFxPAk.jpg)">
    <p>Quem somos<p>
  </div>

  <div class="flex-item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.imgur.com/11H3F3m.jpg)">
    <p>Nossos pratos<p>
  </div>
</div>
